@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal italic;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500 700;
    font-style: normal;
}

body {
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-family: Roboto, 'Segoe UI', 'Helvetica Neue', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}

.root {
    max-width: 48rem;
    margin: 0 auto;
    padding: 1rem;
}

header > div:first-child,
header .heading-details > div:not(:last-child) {
    margin-block-end: 0.25rem;
}

.flex-centered {
    align-items: center;
    justify-content: center;
    display: flex;
}

.small-text {
    font-size: 0.85rem;
}

.primary-accent-color {
    color: #1F50A8;
}

.secondary-accent-color {
    color: rgb(78, 86, 102);
}

.no-wrap {
    white-space: nowrap;
}

.no-margin {
    margin: 0;
}

.column-dir {
    flex-direction: column;
}

.name {
    justify-content: center;
    font-size: 2rem;
}

.heading-details {
    font-size: 0.85rem;
}

.emphasized {
    font-weight: 500;
}

.icon-link {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 50%;
    min-width: 10rem;
}

.icon-link .logo {
    width: 0.75rem;
    height: 0.75rem;
}

.anchor,
.anchor:visited {
    color: #1F50A8;
}

.anchor:hover {
    color: darkblue;
}

span.pipe-separator {
    font-size: 1.25rem; 
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.quote {
    display: flex;
    margin-block-start: 1.5rem;
}

.quote-attribution {
    margin-inline: auto 5vh;
    margin-block-start: 0.25rem;
    font-size: 0.85rem;
}

#content {
    margin-block-end: 1rem;
}

.justified-heading {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

.info-section-heading-separator {
    display: inline-block;
    height: 1rem;
    width: 100%;
    margin-inline-start: 0.5rem;
    border-bottom: 0.125rem darkgray solid;
}

.experience-list {
    padding-inline-end: 2.5rem;
}

.experience-list > li {
    margin-block-end: 1rem;
}

.experience-title {
    flex-basis: 45%;
}

.footer {
    margin: 2rem 0 0;
    font-size: 0.85rem;
}

@media (max-width: 480px) {
    .info-section-heading-container {
        flex-direction: column;
    }
    .info-section-heading-separator {
        border-bottom: none;
    }
}